.hero-area .block h1 {
  font-size: 50px;
}
.hero-area, #testimonial {
  background-position: center;
}
.productPageTitle {
  font-size: 50px;
  padding: 15px;
}
.productPageSection {
  padding-top: 50px;
}
i {
  color: #fae100;
}
.service-block img {
  opacity: 0.5;
}
