svg {
  background: #A4ADBB;
}
#us-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
path:hover, circle:hover {
  stroke: #FAE100 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #FAE100 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: white !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #FAE100;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
.mapLink:hover {
  color: #FAE100 !important;
}
