{{ define "main" }}

{{ partial "navigation.html" . }}

<section class="section productPageSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1 class="productPageTitle">{{ .Title }}</h1>
      <!--<img class="img-fluid mb-50" src="{{ .Params.Image | absURL }}" alt="blog-image">  -->
        {{ partial "prodDescription.html" . }}
      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        {{ if .Site.Params.post_share }}
        {{ partial "post-share.html" . }}
        {{ end }}
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
