{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.ada.ada.enable}}
{{ with $data.ada.ada}}
{{"<!-- Start Call To Action -->" | safeHTML}}
<section id="ada" class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ .bg_image_webp | relURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | relURL }})'" src="{{ .bg_image_webp | relURL }}" />
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>{{ .title | markdownify }}<sub>2</sub></h2>
				<p>{{ .content1 | markdownify }}</p>
				<p>{{ .content2 | markdownify }}</p>
				<div>
	        <a class="mapLink" href="https://www.ada.gov/service_animals_2010.htm" target="_blank" style="text-decoration: none; color: white">More informaiton can be found here: ADA Website</a>
	      </div>
				{{ if .button.enable }}
				{{ with .button }}
				<a href="{{ .link }}" class="btn btn-main page-scroll">{{ .label }}</a>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
