{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.differences.differences.enable }}
{{ with $data.differences.differences }}
{{"<!-- feature -->" | safeHTML}}
<section class="section section-bg about-2 padding-0" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 400px;">
			<!-- this image is for trigger this section fallback background image -->
			<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<h2>{{ .title | markdownify }}<sub>2</sub></h2>
					<p id="chartText">{{ .content | markdownify }}</p>
					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="bg-one about section" id="graphMini">
	<div class="container">
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .chart_item }}
			{{"<!-- Chart item -->" | safeHTML}}
			<div class="col-lg-12 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">

					{{"<!-- Express About Yourself -->" | safeHTML}}
					<div id="chartText" class="content text-center">
						<h3>{{ .title }}<sub>2</sub></h3>
						{{ .content | safeHTML }}
						{{/*<p>{{ .content | markdownify }}</p>*/}}
					</div>
					<div class="col-lg-6 offset-lg-3">
					<img class="img-fluid lozad" data-src="{{ .image | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
					</div>
				</div>
			</div>
			{{ end }}
		</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
