{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="section-bg">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-xl-12">

				<!-- {{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div> -->

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absLangURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
					</a>
					<br>
					<p>Special Thanks:</p>
					<p>Themefisher for the Hugo Theme template Meghna</p>
					<a href="https://www.nextstepservicedogs.org/" target="_blank">Next Step Service Dogs</a>
					<p>Other Sources:</p>
					<a href="www.ada.gov/service_animals_2010.html" target="_blank">ADA</a><sub>2</sub><br>
					<a href="https://assistancedogs.wordpress.com/2013/08/05/the-history-of-the-service-dog-part-i-ancient-humans-and-dogs/">NEADS</a><sub>3</sub><br>
					<a href="https://www.animallaw.info/topic/table-state-assistance-animal-laws" target="_blank">Animal Legal Center</a><br>
					<a href="https://www.propertyware.com/blog/states-fake-service-dog-laws/" target="_blank">23 States with Fake Service Dog Laws</a><br>
					<a href="https://docs.google.com/forms/d/e/1FAIpQLSduwRap0UVplt9mr1mIHRH0NaWrirLHFesnvVi5TW2kcZj5Dw/viewform?usp=sf_link" target="_blank">Google Form Survey</a>
					<p>{{ .Site.Params.copyright | markdownify }}</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{ "<!-- Google Map API -->" | safeHTML }}
{{ if .Site.Params.map.enable }}
<script src="{{ .Site.Params.map.gmap_api | safeURL }}"></script>
{{ end }}

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- google analytics -->" | safeHTML }}
{{ with .Site.Params.google_analytics_id }}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>
{{ end }}
