{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.graphMini.graphMini.enable }}
{{ with $data.graphMini.graphMini }}
{{"<!-- Start Chart Section -->" | safeHTML}}
<section class="bg-one about section" id="graphMini">
	<div class="container">
			{{"<!-- /section title -->" | safeHTML}}

			{{ range .chart_item }}
			{{"<!-- Chart item -->" | safeHTML}}
			<div class="col-lg-12 text-center wow fadeInUp" data-wow-duration="500ms">
				<div class="block">

					{{"<!-- Express About Yourself -->" | safeHTML}}
					<div id="chartText" class="content text-center">
						<h3>{{ .title }}</h3>
						{{ .content | safeHTML }}
						{{/*<p>{{ .content | markdownify }}</p>*/}}
					</div>
					<div class="chartImage col-lg-6 offset-lg-3">
					<img class="img-fluid lozad text-center" data-src="{{ .image | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
					</div>
				</div>
			</div>
			{{ end }}
		</div>
</section>
{{"<!-- /graphMini -->" | safeHTML}}
{{ end }}
{{ end }}
