<head>
	<meta charset="utf-8">
	<title>{{ .Title }}</title>

	{{ "<!-- mobile responsive meta -->" | safeHTML }}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	{{ hugo.Generator }}

	{{ "<!-- plugins -->" | safeHTML }}
	{{ range .Site.Params.plugins.css }}
	<link rel="stylesheet" href="{{ .link | absURL }}">
	<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@700&family=Raleway:wght@300;400&family=Staatliches&display=swap" rel="stylesheet">
	{{ end }}

	{{"<!-- Main Stylesheet -->"|safeHTML}}
	{{ $styles := resources.Get "css/style.css" | minify}}
	<link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">
	<link rel="stylesheet" href="css/map.css" />

  {{"<!-- Custom stylesheet - for your changes -->" |safeHTML}}
  <link rel="stylesheet" href="{{ `css/custom.css` | relURL}}" media="screen">

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="shortcut icon" href="{{ `images/mainlogo.png` | absURL }}" type="image/x-icon">
	<link rel="icon" href="{{ `images/mainlogo.png` | absURL }}" type="image/x-icon">

</head>
