<div id="info-box"></div>
<div class="col-lg-12 text-center wow fadeInUp about" data-wow-duration="500ms">
  <div class="block">
    <h3>By the Map</h3>
    <p>Hover over a state to see the fines given for Service Animal Fraud.</p>
    <div>
      <p>This is in no way legal advise.<br>All information was taken from the two sites below.<br>If you have any questions, please seek professional legal councel.</p>

      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduwRap0UVplt9mr1mIHRH0NaWrirLHFesnvVi5TW2kcZj5Dw/viewform?embedded=true" width="640" height="3103" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>
  </div>
</div>
