{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
{{"<!-- Start Our Team -->" | safeHTML}}
<section id="team" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
              {{ with .title }} {{ index (split . " ") 1 }} {{ end }}</span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>
      {{"<!-- /section title -->" | safeHTML}}

      {{ range .team_member}}
      {{"<!-- team member -->" | safeHTML}}
      <div class="col-lg-3 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">
            {{"<!-- member photo -->" | safeHTML}}
            <img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">

            {{"<!-- member social profile -->" | safeHTML}}
            <div class="mask">
              <ul class="list-inline">
                <li class="list-inline-item"><div class="member-meta">
                  <h4 class="teamData">{{ .name }}</h4>
                  <span class="teamData">{{ .designation | markdownify}}</span>
                  <p class="teamData">{{ .content | markdownify }}</p>
                </div></li>
              </ul>
            </div>
          </div>

          {{"<!-- member name & designation -->" | safeHTML}}

        </div>
      </div>
      {{"<!-- end team member -->" | safeHTML}}
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
{{ end }}
